APP_NAME=FilamentMBI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Europe/Warsaw
APP_URL=https://example.com

APP_LOCALE=pl
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

PGSQL_SEARCH_PATH=

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

FILAMENT_TABLE_POLL_INTERVAL=null
FILAMENT_EMAIL_DOMAINS=example1.org,example2.org,example3.com
OCTANE_SERVER=frankenphp
FORCE_HTTPS=false
HORIZON_ADMIN_EMAILS=admin@example.com

CHATWOOT_EMBEDDED_HOST_URL=
CHATWOOT_DB_CONNECTION=pgsql
CHATWOOT_DB_HOST=127.0.0.1
CHATWOOT_DB_PORT=5432
CHATWOOT_DB_DATABASE=chatwoot
CHATWOOT_DB_USERNAME=root
CHATWOOT_DB_PASSWORD=secret

STRIPE_DB_CONNECTION=pgsql
STRIPE_DB_HOST=127.0.0.1
STRIPE_DB_PORT=5432
STRIPE_DB_DATABASE=stripe
STRIPE_DB_USERNAME=root
STRIPE_DB_PASSWORD=secret

CLOUDFLARE_DB_CONNECTION=pgsql
CLOUDFLARE_DB_HOST=127.0.0.1
CLOUDFLARE_DB_PORT=5432
CLOUDFLARE_DB_DATABASE=cloudflare
CLOUDFLARE_DB_USERNAME=root
CLOUDFLARE_DB_PASSWORD=secret

FILAMENT_DB_CONNECTION=pgsql
FILAMENT_DB_HOST=127.0.0.1
FILAMENT_DB_PORT=5432
FILAMENT_DB_DATABASE=filament
FILAMENT_DB_USERNAME=root
FILAMENT_DB_PASSWORD=secret

MEDICAL_DB_CONNECTION=pgsql
MEDICAL_DB_HOST=127.0.0.1
MEDICAL_DB_PORT=5432
MEDICAL_DB_DATABASE=medical
MEDICAL_DB_USERNAME=root
MEDICAL_DB_PASSWORD=secret

REVERB_APP_ID=497029
REVERB_APP_KEY=behpgun2puniwi7nhnkl
REVERB_APP_SECRET=jqitvveed0b3s4hvkjn5
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
